color: green;
}

#container {
background-color: green;
width: 1500px;
margin-left: auto;
margin-right: auto;

}

 
#header {
background-color: #66CCFF;
color: green;
text-align: center;

}
#header-image {
background-color: #66CCFF;
text-align: left;

#table {
color: blue;
}
}
#footer{
clear: both;

}
